<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- This file was created with the aha Ansi HTML Adapter. https://github.com/theZiz/aha -->
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xml+xhtml; charset=UTF-8"/>
  <meta charset="UTF-8">
  <title>diff :: {{ name1 }} ({{ hash1 }}) :: {{ name2 }} ({{ hash2 }})</title>
  <style>{{ css }}</style>
</head>
<body>
  <h1>diff :: {{ name1 }} ({{ hash1 }}) :: {{ name2 }} ({{ hash2 }})</h1>
  <div id="diff-content">
    <pre>
      {{ diff_html | safe }}
    </pre>
  </div>
  <footer>
    <p>Files ignored by Git are ignored here too.</p>
    {% if excludes %}
    <p>The following regex patterns are excluded too:</p>
    <ul>
    {% for pat in excludes %}
      <li>{{ pat }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </footer>
  <script>{{ js }}</script>
</body>
</html>
